body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile .pic {
  max-width: 200px;
  max-height: 200px;
  border-radius: 200px;
}

.p_img {
  max-width: 800px;
}

.project {
  display: flex;
  margin-top: 10px;
}

.description_block {
  padding: 10px;
}

.profile .description_block {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.name, .title {
  margin: 0;
}